@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #f97316;
  --color-secondary: #a1a1aa;
  --color-darkLight: #fafaf9;
  --color-text: #09090b;
}

.dark {
  --color-primary: #f97316;
  --color-secondary: #18181b;
  --color-darkLight: #09090b;
  --color-text: #fafaf9;
}

@layer base {
  .margin-l {
    @apply ml-[10rem];
  }
  .padding-t {
    @apply pt-28;
  }
}

@layer components {
  .btn {
    @apply bg-primary px-4 py-1.5 rounded hover:opacity-80 font-semibold;
  }

  .icon {
    @apply w-5 h-5 md:w-6 md:h-6;
  }
}
